//color palette
$background: #02020A;
$primary: #A53860;
$secondary: #61C9A8;
$accent: #B3B3F1;
$neutral: #FFEEDB;
$text: #FFF;

//heading fonts
$heading-font: "Dancing Script", cursive;
$paragraph-font: Roboto, Lato, sans-serif;

//font-weights
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900

