@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

body {
  background-color: #1f1f1f;
  margin: 0;
}

h1,
h2 {
  font-family: "Dancing Script";
}

h1 {
  color: #ffeedb;
  text-align: center;
  font-size: 9.5em;
  text-shadow: 1px 1px 2px black;
  font-weight: 400;
  margin-bottom: 0 2px;
  margin: 0;
}

h2 {
  font-size: 70px;
  color: #b3b3f1;
  font-weight: 100;
  margin: 15px 0px;
}

p {
  color: #fffff2;
  font-family: Roboto, Lato, sans-serif;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.0); /* Transparent background */
  display: flex;
  justify-content: space-between; /* Logo to the left, links to the right */
  align-items: center;
  z-index: 2; /* Place the navbar above the video */
}

.logo {
  display: inline-block;
  padding: 10px 20px;
}

/*.logo video {
  height: 200px; 
  width: 200px;
}
*/

.logo p {
  margin-right: 20px; /* Add space between the logo and links*/
  font-family: "Dancing Script";
  color: #ffeedb;
  font-size: 25px;
}


#navlist {
  list-style: none;
  margin: 0;
  padding: 10px 20px;
}

#navlist li {
  display: inline-block;
  margin-left: 15px; /* Add space between the links */
  color: white;
  padding: 10px 10px;
  font-family: Roboto, Lato, sans-serif;
  font-size: large;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #61c9a8;
  cursor: pointer;
}

.donate-btn {
  border: none;
  color: white;
  background-color: #a53860;
  border-radius: 30px;
  padding: 10px 15px;
  font-size: large;
}

.donate-btn:hover {
  background-color: #61c9a8;
  color: black;
  padding: 10px 15px;
  transition: 0.3s;
  cursor: pointer;
}

.hp {
  position: relative;
  height: 100vh;
}

.video_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hp-background {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This ensures the video covers the container */
}

.heroline_text {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1; /* Bring the text content above the video */
}

.heroline_text p {
  color: white;
  text-align: center;
  margin-top: 0;
  font-size: 35px;
  text-shadow: 1px 1px 2px black;
}

.main-content {
  margin: 15px 15px;
}

.who-we-are {
  display: flex;
  height: 100vh;
}

/*
.divider-style-container {
 
}

.divider-style-left {

}

.divider-style-left-top {
  
} */

.leftalign-text {
  font-size: 25px;
}

.wwa-text {
  float: left;
  margin-left: 15px;
  width: 50%;
}

.wwa-imagecontainer {
  display: flex;
  width: 50%;
  /* padding: 10px 100px; */
  /* margin: 5px 5px; */
  justify-content: center;
  align-items: center;
}

.wwa-img {
  float: right;
  width: 70%;
  height: 70%;
}

.who-we-are,
.why-the-arts {
  margin-top: 5px;
}

.why-the-arts {
  display: flex;
  height: 100vh;
}

.wta-text {
  float: right;
  width: 50%;
  text-align: right;
}

.rightaligned-text {
  font-size: 25px;
}

.wta-img {
  float: left;
  width: 70%;
  height: 70%;
}

.wta-imagecontainer {
  display: flex;
  width: 50%;
  /* padding: 10px 100px; */
  /* margin: 5px 5px; */
  justify-content: center;
  align-items: center;
}

strong, em {
  font-size: 30px;
  font-weight: bold;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid white;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.how-you-can-help p {
  font-size: 25px;
  text-align: center;
}

/*
@media screen and (max-width: 700px) {
  .who-we-are {
    display: flex;
    height: 50vh;
    flex-direction: column-reverse;
  }

  .leftalign-text {
    font-size: 15px;
  }
  
  .wwa-text {
    margin-left: 15px;
    width: 50%;
  }
  
  .wwa-imagecontainer {
    display: flex;
    width: 50%;
    /* padding: 10px 100px; */
    /* margin: 5px 5px; 
    justify-content: center;
    align-items: center;
  }
  
  .wwa-img {
    float: right;
    width: 70%;
    height: 70%;
  }
  
}
*/

.donation_container {
  width: 50%;
  justify-content: center;
}

.donation_form {
  margin: 0px 8px 0 30px;
  outline: 2px #61c9a8 solid;
  width: 350px;
  height: 500px;
  border-radius: 30px;
  float: left;
}

.donation_form em {
  display: flex;
  justify-content: center;
  font-style: normal;
  color: white;
  font-size: 25px;
  padding-top: 20px;
}

.donation_text {
  float: right;
  width: 50%
}


.donation_text strong {
  
}